---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Logo from '../img/profile-pic-2.png'
import Progect from '../components/CardProgect.astro';
import Image from 'astro/components/Image.astro';
import InternalLink from '../components/HeaderLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header id="header" />
		<main>
			<div id="title"><Image src={Logo} alt="Foto de perfil de ${SITE_TITLE}" height={200}/><h1>{SITE_TITLE}</h1></div>
			<div class="section" id="SMi">
				<h2>About Me</h2>
				<p>Hello, I am a software developer from Tarragona who is passionate about creating innovative and efficient solutions. 
				I specialize in web development with technologies such as HTML, CSS and JavaScript. I love learning new things and facing new challenges. 
				In my free time I enjoy staying up to date with technological innovation.
				</p>
			</div>
			<Progect />
			<div id="form" class="section">
				<InternalLink href="/form">~ Contact ~</HeaderLink>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	#title{
		margin-top: 55px;
		display: flex;
		flex-direction: row;
		gap: 2em;
		align-items: center;
	}
	.section{
		border-top: 3px solid #E95420;
		margin-top: 2em;
		padding-top: 2em;
		text-align: justify;
		padding-bottom: 2em;
	}
	h2{
		margin: 0 2rem;
	}
	#form{
		text-align: center;
		font-size: 2em;
	}
</style>