---
import LogoAstroUbuntu from '../img/Astro ubuntu.png';
import LogoGitHub from '../img/GitHub.png';
import Image from "astro/components/Image.astro";

const portfolio_target = [
    {
        name: "Ubuntu Astro",
        description: "Astro theme based on Ubuntu operating system.",
        link: "",
        logo: LogoAstroUbuntu,
    },
    {
        name: "Wowfinder",
        description: "Utility for a role-playing game based on the Pathfinder 1ed system and set in the Warcraft universe.",
        link: "https://github.com/edurne85/wowfinder/",
        logo: LogoGitHub,
    }
]
---
<main>
    <h2>Projects</h2>
    <div id="main">
        {portfolio_target.map(project => (
            <div class="target">
                <div class="project">
                    <h3>{project.name}</h3>
                    <Image src={project.logo} alt={`Logo de proyecto ${project.name}`} width="100" />
                    <p>{project.description}</p>
                    {project.link && <a href={project.link}><button>More Info</button></a>}
                </div>
            </div>
        ))}
    </div>
</main>
<style>
    main {
        border-top: 3px solid #E95420;
        height: 20em;
    }
    #main{
        display: flex;
        flex-wrap: nowrap;
        margin: 1em 0;
    }
    .target {
        display: flex;
        justify-content: center;
        flex: 1;
        width: 5em;
        height: 7em;
    }
    .project {
        text-align: center;
    }
    .project img {
        display: block;
        margin: 0 auto;
    }
    h2{
        margin: 0 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    p{
        margin-top: 0px
    }
    button{
        height: 3em;
        width: 7em;
        background-color: #E95420;
        border-radius: 20%;
    }
</style>
